---
layout: default
title: KeePassXC Cryptomator Plug-in
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Give the KeePassXC Cryptomator plug-in the vote</h1>
				<p class="editable">Support software that secures you private data.</p>
				<div class="button">
					<a href="https://github.com/sponsors/purejava">Donate Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/keepassxc-cryptomator.svg" width="60%" height="60%" alt="KeePassXC Proxy Access">
		</div>
	</div>
</header>

<div class="darker">
	<div class="container">
		<h2 class="editable">Players</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<img class="image" src="{{ post.featured_image }}">
					<div class="post-content">
						<p>{{ post.subTitle }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<a href="{{ post.web_site }}">Visit site</a>
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Let's bring these features together. It has the advantage, that your private data as well as the passwords to access your data are stored securely. To achieve this, two software components are required, that connect KeePassXC to Cryptomator.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/ralph.jpg" alt="Ralph"></span>
				<span class="author editable"><strong>Ralph Plawetzki</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<div class="columns">
			<div>
				<img src="{{ site.baseurl }}/images/keepassxc-cryptomator.svg" alt="KeePassXC Cryptomator">
			</div>
			<div>
				<h2 class="editable">The plug-in</h2>

				<p class="editable">Cryptomator has an integrations-api, that allows to develop plugins for Cryptomator that extend the functionality of Cryptomator.</p>
				<p class="editable">I wrote a plug-in, that works as a connector between Cryptomator and KeePassXC and fits into the integrations-api.</p>
				<p>With this plug-in dropped in, Cryptomator can use a KeePassXC database as a backend to store and retrieve passwords for vaults.</p>
				<p class="editable"><a href="https://github.com/purejava/keepassxc-cryptomator">Visit on GitHub</a></p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="columns">
		<div>
			<h2 class="editable">The back end</h2>

			<p class="editable">A second library is needed, which is integrated into the plug-in mentioned above. It enables an application to talk to KeePassXC and access its capabilities. The Java library accesses KeePassXC via its build-in proxy.</p>
			<p class="editable">This library I wrote uses the JSON data format to communicate with KeePassXC. The underlying TweetNaCL crypto library provides the crypto_box functionality that is used to set up an encrypted and secure channel for the components to communicate with each other.</p>
			<p class="editable">It's fast, easy to use and cross-platform.</p>
			<p class="editable"><a href="https://github.com/purejava/keepassxc-proxy-access">Visit on GitHub</a></p>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/keepassxc-proxy-access.svg" width="50%" height="50%" alt="KeePassXC Proxy Access">
		</div>
	</div>
</div>

<div class="container">
	<h2 class="editable" style="text-align: center;">Additional information</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Easy to use</h3>
			<p class="editable">It's easy to install the plug-in. </p>
			<p class="editable"><a href="https://github.com/purejava/keepassxc-cryptomator/wiki">Instructions</a></p>
			<p class="editable">Download it <a href="https://github.com/purejava/keepassxc-cryptomator/releases/download/{{ site.plugin_version }}/keepassxc-cryptomator-{{ site.plugin_version }}.jar">here</a>.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Save to use</h3>
			<p class="editable">The software components get improved continuously.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Love to use</h3>
			<p class="editable">Like it?</p>
			<p>You can <a href="https://github.com/sponsors/purejava">support</a> the development with a donation.</p>
		</li>
	</ul>
</div>
