---
layout: default
title: KeePassXC Proxy Access
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Give keepass-proxy-access the vote</h1>
				<p class="editable">Support software that secures you private data.</p>
				<div class="button">
					<a href="https://www.paypal.com/donate?hosted_button_id=XVX9ZM7WE4ANL">Donate Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/keepassxc-proxy-access-1-.svg" width="60%" height="60%" alt="KeePassXC Proxy Access">
		</div>
	</div>
</header>

<div class="darker">
	<div class="container">
		<h2 class="editable">Players</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<img class="image" src="{{ post.featured_image }}">
					<div class="post-content">
						<p>{{ post.subTitle }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<a href="{{ post.web_site }}">Visit site</a>
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Let's bring these features together. It has the advantage, that your private data as well as the passwords to access your data are stored securely. To achieve this, two software components are required, that connect KeePassXC to Cryptomator.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/ralph.jpg" alt="Ralph"></span>
				<span class="author editable"><strong>Ralph Plawetzki</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<div class="columns">
			<div>
				<img src="{{ site.baseurl }}/images/keepassxc-proxy-access.svg" alt="KeePassXC Cryptomator">
			</div>
			<div>
				<h2 class="editable">The plug-in</h2>

				<p class="editable">Cryptomator has an integrations-api, that allows to extend it. Nevertheless, this API itself had to be extended, because the extensions available for Cryptomator so far had no need to associate to Cryptomator. They are simply available on the underlying OS.</p>
				<p class="editable">I wrote a library, that works as a connector between Cryptomator and KeePassXC and uses the extended API.</p>
				<p class="editable"><a href="https://search.maven.org/artifact/org.purejava/keepassxc-cryptomator">Show info</a></p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="columns">
		<div>
			<h2 class="editable">The back end</h2>

			<p class="editable">A second library is needed. One, that enables an application to talk to KeePassXC and access its capabilities. The Java library accesses KeePassXC via its build-in proxy.</p>
			<p class="editable">The library I wrote uses the JSON data format to communicate with KeePassXC. The underlying TweetNaCL crypto library provides the crypto_box functionality that is used to set up an encrypted and secure channel for the components to communicate with each other.</p>
			<p class="editable">It's fast, easy to use and cross-platform.</p>
			<p class="editable"><a href="https://search.maven.org/artifact/org.purejava/keepassxc-proxy-access">Show info</a></p>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/keepassxc-proxy-access-1-.svg" width="50%" height="50%" alt="KeePassXC Proxy Access">
		</div>
	</div>
</div>

<div class="container">
	<h2 class="editable" style="text-align: center;">Why sheep need the vote</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Population</h3>
			<p class="editable">New Zealand has a human population of just 4.5M while there are 70M sheep. </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Economy</h3>
			<p class="editable">Sheep are the backbone of the economy yet they receive no compensation.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Work Conditions</h3>
			<p class="editable">Sheep are forced to eat grass every day of their life. How about some of variety?</p>
		</li>
	</ul>
</div>
